<div class="footer bg-white " id="kt_footer" *ngIf="show_visible">
  <div class="row pt-3 pb-3" style="padding-left: 20px;padding-right: 20px">
      <div class="col-5 text-dark mt-2">
          <span class="text-muted font-weight-bold mr-2 mt-2">2020©</span>
          <a href="javascript:void(0);" target="_blank" class="text-dark-75 text-hover-primary">ORDR</a>
      </div>
      <div class="col-7 text-right mt-2">
          <a href="javascript:void(0);" target="_blank" class="pl-0 pr-4 text-dark">About</a>
          <a href="javascript:void(0);" target="_blank" class="pl-0 pr-4 text-dark">Team</a>
          <a href="javascript:void(0);" target="_blank" class="pl-0 pr-0 text-dark">Contact</a>
      </div>
  </div>
</div>
