<div id="kt_header" class="header header-fixed">
  <!--begin::Container-->
  <div class="container-fluid d-flex align-items-stretch justify-content-between">
      <!--begin::Header Menu Wrapper-->
      <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
          <!--begin::Header Menu-->
          <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">

          </div>
          <!--end::Header Menu-->
      </div>

      <div class="topbar">
          <div class="topbar-item">
              <!-- <a href="" class="notif"><span class="num">2</span></a> -->
              <div class="dropdown show">
                <div class="align-items-center">
                  <a role="button" id="dropdownMenuLink" (click)="shownotification()" data-toggle="dropdown" aria-haspopup="true" class="notif"><span class="num">{{notification_count}}</span></a>
                 <!-- <svg  class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" xmlns="http://i.imgur.com/evpC48G.png" width="16" height="16" fill="currentColor" class="bi bi-bell mr-3 text-white" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/></svg> -->
                <!-- <div class="dropdown-menu not-notification pb-0" aria-labelledby="dropdownMenuLink"> -->
                <div *ngIf="notification_show"  aria-labelledby="dropdownMenuLink" class="dropdown-menu not-notification pb-0 show" x-placement="top-start" style="position: absolute; transform: translate3d(-291px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
                <div class="noti-list" *ngFor="let noti of notification_list; let i = index;">
                  <div class="media">
              <label class="mb-0 ml-2 mr-2" style="color:#0000ff;font-size: 45px;line-height: 0px;">.</label>
              <div class="media-body">

                      <a class="dropdown-item p-0" style="font-size: 20px;
                      font-weight: 600;">{{noti.title}}
                  <!-- <svg  xmlns="http://www.w3.org/2000/svg" style="float: right;" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg> -->
                  </a>
                      <div style="font-weight: 500;color: gray;">{{noti.createdAt | date: 'dd MMM yyyy hh:mm a' }}</div>
                      <div class="">
                        <button class="btn btn-success" style="margin: 10px;float: right" (click)="notificationupdate(noti._id)" >Accept</button>
                        <!-- <button class="btn btn-fail" style="margin: 10px;">Cancel</button> -->
                      </div>
                    </div>
              </div>
            </div>

                    <div>

                    <button type="button" class="btn btn-primary text-white w-100 radius-0"  routerLink="/ordr/notificationorder" >Show All Notification</button>
                  <div></div>
                    </div>
                  </div>
                </div>
                </div>

              <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                  <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
                  <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">{{vendor_details.vendor_name}}</span>
                  <span class="symbol symbol-35 symbol-light-success">
                      <span class="symbol-label font-size-h5 font-weight-bold">{{vendor_details.vendor_name[0]}}</span>

                  </span>

              </div>
              <a href="/#/login/{{vendor_details.shop_link_name}}" class="brand-logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" red fill="currentColor" class="bi bi-box-arrow-right logoutclr" viewBox="0 0 15 15">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
            </a>
          </div>
          <!--end::User-->
      </div>
      <!--end::Topbar-->
  </div>
  <!--end::Container-->
</div>
